 

<form action="/add" method="post">
    <input type="text" placeholder="Enter Your Task" name="task" >
    
    <button type="submit">Submit</button>
</form>

 <p style="color:red"><%=error%></p>