 

<form action="/update/<%=user.id%>" method="post">
    <input type="text" placeholder="Enter Your Task" name="task" value = <%=user.task%> >
    
    <button type="submit">Submit</button>
</form>

  
