<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/update/<%=user.id%>" method="post">
        <input type="text" name="username" placeholder="Enter Your Username" value="<%=user.username%>"><br /><br />
        <input type="password" name="password" placeholder="Enter Your password" value="<%=user.password%>"><br /><br />
        <button type="submit">Submit</button><br /><br />
    </form>
</body>

</html>